html, body, hr {
	margin:0;
	padding:0;	
}
.wrapper {
	width:100%;	
}
/*******************************************************************************************************
=> Home + Common
*******************************************************************************************************/
.header {
	background:#4d8b35;
}
.header .container {
	border-top:8px solid #234316;
}
.header .branding {
	padding:25px 0;
}
.header .branding h1 {
	color:#fff;
}
.header .branding h1 a {
	color:#fff;
	text-decoration:none;
}
.header .userInfo {
	margin-top:10px;	
	color:#abce9e;
}
.header .userInfo a {
	color:#fff;
}
.icon-user {
	background:url(../img/ico_use.png) no-repeat 0 0;
}
.header .nav {
	margin-bottom:0px;
}
.header .nav-tabs {
	border-bottom: 1px solid #4d8b35;
}
.header .nav-tabs > li {
	margin-bottom: -1px;
	margin-right:3px;
}
.header .nav > li > a:hover {
  text-decoration: none;
  background-color: #234316;
}
.header .nav-list > .active > a,
.header .nav-list > .active > a:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.header .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  background:#83ae72;
  color:#fff;
  font-weight:bold;
  padding:10px 20px;
}
.header .nav-tabs > li > a:hover {
  border-color: #4d8b35;
}

.header .nav-tabs > .active > a,
.header .nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #4d8b35;
  border-bottom-color: transparent;
}
.header .nav li.dropdown.open .caret,
.header .nav li.dropdown.open.active .caret, 
.header .nav li.dropdown.open a:hover .caret {
	border-top-color: white;
	border-bottom-color: white;
	opacity: 1;
	filter: alpha(opacity=100);
}
.header .nav-tabs .dropdown-toggle .caret, 
.header .nav-pills .dropdown-toggle .caret {
	margin-top: 6px;
	border-top-color:#fff;
	border-bottom-color:#fff;
	opacity: 1;
}
.content {
	margin-top:30px;
}
.content .leftContent h2,
.content .sidebar h2 {
	border-bottom:1px solid #e0e0e0;
	min-height:55px;
	padding:5px 0px;
}
.content .leftContent hr {
	margin-top:15px;
}
.content .leftContent p.cntPara {
	padding:15px 0 0 65px;
}
.content .leftContent p.cntPara strong {
	display:block;
	margin:5px 0;
}
.content .leftContent .simpleDesign {
	background:url(../img/ico_design.png) no-repeat 0 25px;
}
.content .leftContent .itsFree {
	background:url(/images/free.png) no-repeat 0 25px;
}
.content .leftContent .secureApp {
	background:url(../img/ico_secure.png) no-repeat 0 25px;
}
.content .leftContent .easyUse {
	background:url(/images/curated.png) no-repeat 0 25px;
}
.content .leftContent .signupTeaser {
	margin-top:10px;
}
.content .leftContent .quickTour {
	margin-top:20px;
	margin-bottom:15px;
}
.content .sidebar h2 {
	text-align:right;
}
.content .sidebar h4,
.content .sidebar h3 {
	margin-bottom:10px;
}
.content .sidebar .quickSignupForm {
	margin-top:30px;	
}
.content .sidebar .btnSignup {
	margin-top:10px;
}
.footer {
	margin-top:15px;
}
.footer .span12 {
	border-top:1px solid #e0e0e0;
	padding:15px 0;
}
.footer p {
	color:#999;
}
.footer p {
	color:#999;
}

/*******************************************************************************************************
=> Try Now Teaser
*******************************************************************************************************/
.tryNowTeaser {
	padding-bottom:20px;
}
.btnTryNow {
	margin-top:5px;
}

/*******************************************************************************************************
=> Tour
*******************************************************************************************************/
.tourCnt {
	margin-top:25px;
}
.tourCnt .nav {
	margin-left:0px;
	margin-right:0px;
}
.tourCnt h2 {
	margin-bottom:10px;
	margin-left:0px;
}
.tourCnt h3 {
	margin:10px 0;
}
.tourCnt hr {
	margin:25px 0;
}
.showcaseCnt p {
	margin:10px 0 25px 0;
	text-align:center;		
}
.showcaseCnt p.shortDesc {
	text-align:left;
	margin:0px;
}

/*******************************************************************************************************
=> Plans & Pricing
*******************************************************************************************************/
.plansTeaser {
	margin-top:30px;
}
.plansTeaser p {
	font-size:18px;
	text-align:center;
	line-height:25px;
}

/**************************************************************************************************************
=> Pricing & Signup Style-1
**************************************************************************************************************/
.pricingCntStyle-1 .normal div.pricing {
	padding:0px;
	background:#000;
	margin-bottom:5px;	
}
.pricingCntStyle-1 .popular div.pricing {
	padding:0px;
	background:#093;	
	margin-bottom:5px;	
}
.pricingCntStyle-1 div.pricing h2 {
	text-align:center;
	border-bottom:1px solid #666;
	font:bold 22px Helvetica, Arial, sans-serif;
	color:#fff; padding:15px 0;
}
.pricingCntStyle-1 .popular div.pricing h2 {
	border-bottom:1px solid #4db871;
}
.pricingCntStyle-1 div.pricing h4 {
	text-align:center;
	font:normal 60px Helvetica, Arial, sans-serif;
	color:#fff; padding:10px 0 0 0;
}
.pricingCntStyle-1 div.pricing p {
	text-align:center;
	font:normal 13px Helvetica, Arial, sans-serif;
	color:#fff; font-style:italic;
	padding:5px 0 15px 0;
}
.pricingCntStyle-1 div.features {
	text-align:center;	
}
.pricingCntStyle-1 .popular div.features {
	background:#dff0dc
}
.pricingCntStyle-1 .popular div.features p {
	color:#357e2b
}
.pricingCntStyle-1 div.features ul {
	margin-top:15px;
}
.pricingCntStyle-1 div.features ul li {
	border-top:1px solid #e0e0e0;
	padding:8px 0;
	text-align:left;
}
.pricingCntStyle-1 .popular div.features ul li {
	border-top:1px solid #c1dfbd;
	padding:8px 0;
	text-align:left;
	color:#357e2b;
}

/**************************************************************************************************************
=> Pricing & Signup Style-2
**************************************************************************************************************/
.pricingCntStyle-2 .well {
	padding:0px;
	background:#e1e1e1;
	margin-bottom:5px;	
	overflow:hidden;
	text-align:center;
	padding-bottom:15px;
}
.pricingCntStyle-2 .popular .well {
	background:#40b8b5;		
	margin:0px;
	padding-bottom:15px;
}
.pricingCntStyle-2 .well h2 {
	text-align:center;
	background:#666;
	font:bold 22px Georgia, "Times New Roman", Times, serif;
	color:#fff; padding:10px 0; font-style:italic;
	border-bottom:2px solid #fff;
}
.pricingCntStyle-2 .popular .well h2 {
	background:#1a5f5d;
}
.pricingCntStyle-2 .well h4 {
	text-align:center;
	font:normal 50px Georgia, "Times New Roman", Times, serif;
	color:#000; padding:10px 0 0; 
}
.pricingCntStyle-2 .popular .well h4 {
	color:#fff;
}
.pricingCntStyle-2 .well span {
	text-align:center;
	font:normal 13px Helvetica, Arial, sans-serif;
	color:#666;
	border-bottom:1px solid #ccc;
	padding:10px 0 15px 0;
	display:block;
}
.pricingCntStyle-2 .popular span {
	color:#fff;
	border-bottom:1px solid #bae3e2;
}
.pricingCntStyle-2 .well p {
	text-align:center;
	font:normal 13px Helvetica, Arial, sans-serif;
	color:#666;
	border-bottom:1px solid #ccc;
	padding:10px 20px;
	margin:0px;
}
.pricingCntStyle-2 .popular .well p {
	color:#fff;
	border-bottom:1px solid #bae3e2;
}
.pricingCntStyle-2 .well ul {
	margin:0 0 15px 0;
}
.pricingCntStyle-2 .well ul li {
	border-bottom:1px solid #ccc;
	padding:5px 0;
	text-align:center;
}
.pricingCntStyle-2 .popular ul li {
	border-bottom:1px solid #bae3e2;
	padding:5px 0;
	color:#fff;
}

/**************************************************************************************************************
=> Blog
**************************************************************************************************************/
.blogHeader {
	margin-bottom:20px;	
}
.blogHeader h1 {
	margin-bottom:5px;	
}
.blogHeader h4 {
	margin-bottom:20px;	
}
.blogIntroduction {
	margin-top:5px;	
}
.blogIntroduction p {
	margin-bottom:15px;	
}
.blogCategories  {
	margin:20px 0;	
}
.blogCategories h3 {
	border-bottom:1px solid #e0e0e0;
	padding-bottom:10px;
}
.blogCategories ul {
	margin-top:5px;	
}
.blogCategories ul li {
	border-bottom:1px solid #e0e0e0;
	padding:5px 0; line-height:18px;
}
.blogAuthors ul {
	margin-top:5px;
}
.blogAuthors ul li {
	float:left;
	width:100%;	padding:0px;
	margin:5px 0;
}
.blogAuthors ul li img {
	float:left;
	margin:10px;
}
.blogAuthors ul li p {
	float:left;
	margin:10px 0;	
}
.blogAuthors ul li p span {
	display:block;
}
.authorInfo img {
	margin-bottom:10px;
}
.authorInfo span {
	display:block;
	font:normal 12px Helvetica, Arial, sans-serif;
	color:#999; margin-top:3px;
}
.authorInfo p.tags {
	margin:10px 0;
}
.blogDesc h2 {
	margin-bottom:15px;
}
.blogDesc p {
	margin-bottom:15px;
}
.blogDesc p img.thumbnail {
	margin:0 15px 15px 0;
}
.blogCnt hr {
	margin:20px 0;
}

/*******************************************************************************************************
=> Responsive Styles
*******************************************************************************************************/
@media (max-width: 767px) {
	.container {
		width:96%;	
		padding:0 2%;
	}		
}
