html, body, hr {
	margin:0;
	padding:0;	
  color: #4B5C66;
}
.wrapper {
	width:100%;	
}

/* !TYPOGRAPHY /////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

a { color: #008FD5; } 
a:hover { color: #37464f; } 

p {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #4B5C66;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin-bottom: 14px;
    margin-top: 14px;
}

h1 { font-size: 44px; }
h4 {
  font-size: 18px;
    line-height: 1.3;
    color: #6F6F6F;
    font-weight: 300;
}

h2.subheader {
  font-weight: 300;
  color: #6F6F6F;
}
h2.subheader, h4.subheader {
  position: relative;
  top: -10px;
}

h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

h3.builder {
  position: relative;
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #111;
  font-size: 26px;
  line-height: 18px;
  text-rendering: optimizelegibility;
}

p.builder {
 line-height: 1.5;
 font-family: "OpenSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 text-rendering: optimizeLegibility;
 font-size: 16px;
 font-weight: 200;
}

h3.builderresult{
  font-family: 'Crete Round', sans-serif;
  font-weight: 200;
  color: #111;
  font-size: 26px;
  line-height: 18px;
  text-rendering: optimizelegibility;  
}



.sidebar h3 {
    margin-top: 0px;
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid white;
}

.label {
  padding: 3px 5px;
  background-color: #BFBFBF;
  font-size: 9.75px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pull-center { text-align: center; }

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vertical-container {
  display: table;
  width: 100%;
}
.vertical-element {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* !LAYOUT - ELEMENTS //////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

.breadcrumb {
    margin: 0 0 18px;
    padding: 0px;
    background-color: transparent;
    background-repeat: repeat-x;
    background-image: none;
    border: 0px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

.breadcrumb li {
    display: inline;
    text-shadow: 0 1px 0 white;
}

.breadcrumb li {
}

.thumbnails {
  margin: 0;
}
.thumbnails > li {
  float: left;
  margin-bottom: 18px;
  margin-right: 20px;
  margin-left: 0px;
}

/* !LAYOUT - TOPBAR ////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

.topbar-inner, .topbar .fill {
  background-color: #008FD5;
  background: #008FD5;
  background: rgba(0, 143, 213, 0.75);
  /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABGdBTUEAALGPC/xhBQAAAANQTFRFAI/V7difBQAAAAF0Uk5TgK1eW0YAAAALSURBVAjXY2DABwAAHgABboVHMgAAAABJRU5ErkJggg==);*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.topbar h3 a, .topbar .brand {
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: #FFF;
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}

.topbar a {
  color: #A2E0FF;
  text-shadow: none;
}

.topbar div > ul a:hover { 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TM/82uXAAAAAKSURBVAjXY2AAAAACAAHiIbwzAAAAAElFTkSuQmCC);
  background:rgba(0, 0, 0, 0.35);
  color: #FFF;
}

.topbar div > ul .active > a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TM/82uXAAAAAKSURBVAjXY2AAAAACAAHiIbwzAAAAAElFTkSuQmCC);
  color: #FFF;
}

.topbar div > ul .active > a:hover, {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TM/82uXAAAAAKSURBVAjXY2AAAAACAAHiIbwzAAAAAElFTkSuQmCC);
  background:rgba(0, 0, 0, 0.45);
}

/* !LAYOUT - HOME //////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

#main {
  background: url(../images/UniCarbKB_Logo.png) top right no-repeat;
}

.home .container-fluid.content{ 
  background: url(../images/UniCarbKB_Logo_150.png) top center no-repeat;
}
h2.subheader { margin-top: 170px; text-align: center; }

.container-fluid { margin: 0 auto; width: 80%; overflow: visible; }
.content { margin-top: 100px; }

.home .row-fluid { margin-bottom: 20px; }
.browse .row-fluid { margin-bottom: 20px; }
.row-fluid .imglogo { margin: 0 0 20px 0; }

h1.splash { font-size: 54px; }
h2.lead { margin: 30px 0; font-size: 25px; }

.widget {
  margin: 0;
  padding: 20px 0px 20px 30px;
  width: 100%;
  background: #008FD5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.widget h3 {
  margin: 0 0 20px 0;
  color: #FFF;
}
.widget h3 small {
  color: #A2E0FF;
}

.widget a {
    width: auto;
    height: 32px;
    display: block;
    padding-left: 42px;
    overflow: hidden;
    text-decoration: none;
}

.glyco a {
  background: transparent url("/images/glyphicons_096_vector_path_polygon.png") no-repeat;
}
.publications a {
  background: transparent url("/images/glyphicons_351_book_open.png") no-repeat center left;
}
.unicarbdb a {
  background: transparent url("/images/glyphicons_041_charts.png") no-repeat;
}
.structures a {
  background: transparent url("/images/glyphicons_326_share.png") no-repeat;
}

.biological a {
  background: transparent url("/images/glyphicons_326_biological.png") no-repeat;
}

.widget a span.count {
  display: block;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
}

.widget a span.desc {
  display: block;
  color: #A2E0FF;
  font-size: 12px;
  line-height: 14px;
}

.content .leftContent .cntPara {
	padding:0 0 0 65px;
}

.content .leftContent h2,
.content .sidebar h2 {
  border-bottom:1px solid #e0e0e0;
  padding:5px 0px;
}

#layouts .sidebar {
  margin-top: 100px;
  background: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none
  -o-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.sidebar {
  margin-top: 0px;
  background: whitesmoke;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
}

.sidebar .nav {
  margin: 0 0 0 0;
  padding: 0px 0;
  background: whiteSmoke;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #DDD;
}

.sidebar .nav a {
  padding: 15px 20px;
  color: #008FD5;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.sidebar .info {
  padding: 20px;
  border-bottom: 1px solid #DDD;
}

.timeline-arrow {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid whiteSmoke;
  position: absolute;
  bottom: -6px;
  left: 34px;
  width: 0;
  height: 0;
}

/* !LAYOUT - REFERENCE LISTING /////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////*/

table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  font-size: 13px;
  border: 0px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th + th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
    border-left: 0px solid #DDD;
    border-bottom: 1px solid #DDD;
  }

.pagination ul {
  float: left;
  margin: 0;
  border: 0px solid #DDD;
  border: 0px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #DDD;
  border-right-color: rgba(0, 0, 0, 0.15);
  background-color: #008FD5;
  color: #FFF;
  text-decoration: none;
}
.pagination a:hover { background: #004e74; }

.pagination .disabled a, .pagination .disabled a:hover {
    background-color: #008FD5;
    color: #A2E0FF;
  }

/* !LAYOUT - REFERENCE /////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

th[class*="span"] {
    margin-left: 0px;
}

.RP {
  background-color: whitesmoke;
  margin: 0 0 60px 0;
  padding: 20px;
  display: block;
}

.a-l-k {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  left: 0px;
}

.fA {
  background-color: white;
  border: 1px solid #EEE;
  cursor: pointer;
  margin: 0px 20px 20px 0px;
  padding: 0px;
  vertical-align: top;
  border-image: initial;
}

/* !LAYOUT - BROWSE ////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

.filterbar {
  padding: 20px 0;
  background: #008FD5;
  color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.filterbar ul {
  margin: 0;
  border: 0px solid #FFF;
}
.filterbar ul li { 
  margin-bottom: 0px;
  list-style: none; 
  display: block;
  width: 100%;
}

.filterbar.tabbable .nav.nav-tabs li a {
  background: none;
  list-style: none;
  color: #FFF;
  border: 0px solid #DDD;
}

.filterbar.tabbable .nav.nav-tabs li.active a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TM/82uXAAAAAKSURBVAjXY2AAAAACAAHiIbwzAAAAAElFTkSuQmCC);
  list-style: none;
  color: #FFF;
  border: 0px solid #DDD;
}

.filterbar.tabbable .nav.nav-tabs li.active:hover a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TM/82uXAAAAAKSURBVAjXY2AAAAACAAHiIbwzAAAAAElFTkSuQmCC);
  background:rgba(0, 0, 0, 0.45);
  list-style: none;
  color: #FFF;
  border: 0px solid #DDD;
}

.filterbar.tabbable .nav.nav-tabs li:hover a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABGdBTUEAALGPC/xhBQAAAANQTFRFAAAAp3o92gAAAAF0Uk5TM/82uXAAAAAKSURBVAjXY2AAAAACAAHiIbwzAAAAAElFTkSuQmCC);
  background:rgba(0, 0, 0, 0.45);
  color: #FFF;
  border: 0px solid #DDD;
}

.filterbar ul li a { 
  padding: 10px 0px 10px 20px;
}

.filterbar ul li.active a::before {
  content: "";
  display: inline-block;
  border-right: 10px solid white;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  /*position: absolute;*/
  /*right: -11px;*/
  float: right;
margin: 5px 0px 10px 0px;
}

.filterbar.tabbable ul li a {
  margin: 0;
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 200;
  border: 0px solid #DDD;
}

.filterbar.tabbable .count { padding: 0 20px 0 0; color: #A2E0FF; }

#tab1 .control-group { display: none; }
#tab1 .control-group.active { display: block; }

#tab2 .row-fluid { margin: 18px 0 0 0; }
#tab2 h3 { margin: 0px 0 5px 0; }

.rightpanel { margin-top: -47px; }
.rightpanelBuilder { margin-top: -15px;}

.rightpanel .nav { /*margin-bottom: 0px;*/ }
.tabbable .nav.nav-tabs { width: 100%; }
.tabbable .nav.nav-tabs li a {
  background: whiteSmoke;
  color: #008FD5;
  border-bottom: 1px solid #DDD;
}
.tabbable .nav.nav-tabs li a:hover {
  background: #0071A9;
  color: #FFF;
}
.tabbable .nav.nav-tabs li.active a {
  background: #FFF;
  color: #008FD5;
  border-bottom: 1px solid #FFF;
}

.filterbar h3 {
    color: #FFF;
  }

/* !LAYOUT - BROWSE ////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

.results {
  padding: 0px;
  height: 560px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /*-webkit-box-shadow:  -6px -2px 6px -6px rgba(0, 0, 0, 0.4);*/
            /*box-shadow:  -6px -2px 6px -6px rgba(0, 0, 0, 0.4);*/
    position: relative;
  }

.controls label {
    width: 100%;
    text-align: left;
}

.tabbable .details { margin-left: 0px; }

p.structures, p.publications, p.biological {
  padding: 10px; background: #008FD5; 
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
p.structures:hover, p.publications:hover, p.biological:hover {
  background: #0071A9;
}
p.structures a, p.publications a, p.biological a { padding-left: 30px; height: 22px; display: block; color: #FFF; }


/*******************************************************************************************************
=> Home + Common
 *******************************************************************************************************/
  .header .container {
    border-top:8px solid #234316;
  }
  .header .branding {
    padding:25px 0;
  }
  .header .branding h1 {
    color:#fff;
  }
  .header .branding h1 a {
    color:#fff;
    text-decoration:none;
  }
  .header .userInfo {
    margin-top:10px;	
	color:#abce9e;
}
.header .userInfo a {
	color:#fff;
}
.icon-user {
	background:url(../img/ico_use.png) no-repeat 0 0;
}
.header .nav {
	margin-bottom:0px;
}
.header .nav-tabs {
	border-bottom: 1px solid #4d8b35;
}
.header .nav-tabs > li {
	margin-bottom: -1px;
	margin-right:3px;
}
.header .nav > li > a:hover {
  text-decoration: none;
  background-color: #234316;
}
.header .nav-list > .active > a,
.header .nav-list > .active > a:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.header .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  background:#83ae72;
  color:#fff;
  font-weight:bold;
  padding:10px 20px;
}
.header .nav-tabs > li > a:hover {
  border-color: #4d8b35;
}

.header .nav-tabs > .active > a,
.header .nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #4d8b35;
  border-bottom-color: transparent;
}
.header .nav li.dropdown.open .caret,
.header .nav li.dropdown.open.active .caret, 
.header .nav li.dropdown.open a:hover .caret {
	border-top-color: white;
	border-bottom-color: white;
	opacity: 1;
	filter: alpha(opacity=100);
}
.header .nav-tabs .dropdown-toggle .caret, 
.header .nav-pills .dropdown-toggle .caret {
	margin-top: 6px;
	border-top-color:#fff;
	border-bottom-color:#fff;
	opacity: 1;
}
.content .leftContent hr {
	margin-top:15px;
}
.content .leftContent .simpleDesign {
	background:url(../img/ico_design.png) no-repeat 0 25px;
}
.content .leftContent .itsFree {
	background:url(/images/free.png) no-repeat 0 25px;
}
.content .leftContent .secureApp {
	background:url(../img/ico_secure.png) no-repeat 0 25px;
}
.content .leftContent .easyUse {
	background:url(/images/curated.png) no-repeat 0 25px;
}
.content .leftContent .signupTeaser {
	margin-top:10px;
}
.content .leftContent .quickTour {
	margin-top:20px;
	margin-bottom:15px;
}
.content .sidebar h4,
.content .sidebar h3 {
	margin-bottom:10px;
}
.content .sidebar .quickSignupForm {
	margin-top:30px;	
}
.content .sidebar .btnSignup {
	margin-top:10px;
}
.footer {
	margin-top:15px;
}
.footer .span12 {
	border-top:1px solid #e0e0e0;
	padding:15px 0;
}
.footer p {
	color:#999;
}
.footer p {
	color:#999;
}

/*******************************************************************************************************
=> Try Now Teaser
*******************************************************************************************************/
.tryNowTeaser {
	padding-bottom:20px;
}
.btnTryNow {
	margin-top:5px;
}

/*******************************************************************************************************
=> Tour
*******************************************************************************************************/
.tourCnt {
	margin-top:25px;
}
.tourCnt .nav {
	margin-left:0px;
	margin-right:0px;
}
.tourCnt h2 {
	margin-bottom:10px;
	margin-left:0px;
}
.tourCnt h3 {
	margin:10px 0;
}
.tourCnt hr {
	margin:25px 0;
}
.showcaseCnt p {
	margin:10px 0 25px 0;
	text-align:center;		
}
.showcaseCnt p.shortDesc {
	text-align:left;
	margin:0px;
}

/*******************************************************************************************************
=> Plans & Pricing
*******************************************************************************************************/
.plansTeaser {
	margin-top:30px;
}
.plansTeaser p {
	font-size:18px;
	text-align:center;
	line-height:25px;
}

/**************************************************************************************************************
=> Pricing & Signup Style-1
**************************************************************************************************************/
.pricingCntStyle-1 .normal div.pricing {
	padding:0px;
	background:#000;
	margin-bottom:5px;	
}
.pricingCntStyle-1 .popular div.pricing {
	padding:0px;
	background:#093;	
	margin-bottom:5px;	
}
.pricingCntStyle-1 div.pricing h2 {
	text-align:center;
	border-bottom:1px solid #666;
	font:bold 22px Helvetica, Arial, sans-serif;
	color:#fff; padding:15px 0;
}
.pricingCntStyle-1 .popular div.pricing h2 {
	border-bottom:1px solid #4db871;
}
.pricingCntStyle-1 div.pricing h4 {
	text-align:center;
	font:normal 60px Helvetica, Arial, sans-serif;
	color:#fff; padding:10px 0 0 0;
}
.pricingCntStyle-1 div.pricing p {
	text-align:center;
	font:normal 13px Helvetica, Arial, sans-serif;
	color:#fff; font-style:italic;
	padding:5px 0 15px 0;
}
.pricingCntStyle-1 div.features {
	text-align:center;	
}
.pricingCntStyle-1 .popular div.features {
	background:#dff0dc
}
.pricingCntStyle-1 .popular div.features p {
	color:#357e2b
}
.pricingCntStyle-1 div.features ul {
	margin-top:15px;
}
.pricingCntStyle-1 div.features ul li {
	border-top:1px solid #e0e0e0;
	padding:8px 0;
	text-align:left;
}
.pricingCntStyle-1 .popular div.features ul li {
	border-top:1px solid #c1dfbd;
	padding:8px 0;
	text-align:left;
	color:#357e2b;
}

/**************************************************************************************************************
=> Pricing & Signup Style-2
**************************************************************************************************************/
.pricingCntStyle-2 .well {
	padding:0px;
	background:#e1e1e1;
	margin-bottom:5px;	
	overflow:hidden;
	text-align:center;
	padding-bottom:15px;
}
.pricingCntStyle-2 .popular .well {
	background:#40b8b5;		
	margin:0px;
	padding-bottom:15px;
}
.pricingCntStyle-2 .well h2 {
	text-align:center;
	background:#666;
	font:bold 22px Georgia, "Times New Roman", Times, serif;
	color:#fff; padding:10px 0; font-style:italic;
	border-bottom:2px solid #fff;
}
.pricingCntStyle-2 .popular .well h2 {
	background:#1a5f5d;
}
.pricingCntStyle-2 .well h4 {
	text-align:center;
	font:normal 50px Georgia, "Times New Roman", Times, serif;
	color:#000; padding:10px 0 0; 
}
.pricingCntStyle-2 .popular .well h4 {
	color:#fff;
}
.pricingCntStyle-2 .well span {
	text-align:center;
	font:normal 13px Helvetica, Arial, sans-serif;
	color:#666;
	border-bottom:1px solid #ccc;
	padding:10px 0 15px 0;
	display:block;
}
.pricingCntStyle-2 .popular span {
	color:#fff;
	border-bottom:1px solid #bae3e2;
}
.pricingCntStyle-2 .well p {
	text-align:center;
	font:normal 13px Helvetica, Arial, sans-serif;
	color:#666;
	border-bottom:1px solid #ccc;
	padding:10px 20px;
	margin:0px;
}
.pricingCntStyle-2 .popular .well p {
	color:#fff;
	border-bottom:1px solid #bae3e2;
}
.pricingCntStyle-2 .well ul {
	margin:0 0 15px 0;
}
.pricingCntStyle-2 .well ul li {
	border-bottom:1px solid #ccc;
	padding:5px 0;
	text-align:center;
}
.pricingCntStyle-2 .popular ul li {
	border-bottom:1px solid #bae3e2;
	padding:5px 0;
	color:#fff;
}

/**************************************************************************************************************
=> Blog
**************************************************************************************************************/
.blogHeader {
	margin-bottom:20px;	
}
.blogHeader h1 {
	margin-bottom:5px;	
}
.blogHeader h4 {
	margin-bottom:20px;	
}
.blogIntroduction {
	margin-top:5px;	
}
.blogIntroduction p {
	margin-bottom:15px;	
}
.blogCategories  {
	margin:20px 0;	
}
.blogCategories h3 {
	border-bottom:1px solid #e0e0e0;
	padding-bottom:10px;
}
.blogCategories ul {
	margin-top:5px;	
}
.blogCategories ul li {
	border-bottom:1px solid #e0e0e0;
	padding:5px 0; line-height:18px;
}
.blogAuthors ul {
	margin-top:5px;
}
.blogAuthors ul li {
	float:left;
	width:100%;	padding:0px;
	margin:5px 0;
}
.blogAuthors ul li img {
	float:left;
	margin:10px;
}
.blogAuthors ul li p {
	float:left;
	margin:10px 0;	
}
.blogAuthors ul li p span {
	display:block;
}
.authorInfo img {
	margin-bottom:10px;
}
.authorInfo span {
	display:block;
	font:normal 12px Helvetica, Arial, sans-serif;
	color:#999; margin-top:3px;
}
.authorInfo p.tags {
	margin:10px 0;
}
.blogDesc h2 {
	margin-bottom:15px;
}
.blogDesc p {
	margin-bottom:15px;
}
.blogDesc p img.thumbnail {
	margin:0 15px 15px 0;
}
.blogCnt hr {
	margin:20px 0;
}

/*******************************************************************************************************
=> Responsive Styles
*******************************************************************************************************/
@media (max-width: 767px) {
	.container {
		width:96%;	
		padding:0 2%;
	}		
}

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-Light-webfont.eot'); src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-Light-webfont.woff') format("woff"), url('../fonts/OpenSans-Light-webfont.ttf') format("truetype"), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format("svg"); font-weight: light; font-weight: 300; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-LightItalic-webfont.eot'); src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-LightItalic-webfont.woff') format("woff"), url('../fonts/OpenSans-LightItalic-webfont.ttf') format("truetype"), url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format("svg"); font-weight: light; font-weight: 300; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-Regular-webfont.eot'); src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/OpenSans-Regular-webfont.woff') format("woff"), url('../fonts/OpenSans-Regular-webfont.ttf') format("truetype"), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format("svg"); font-weight: normal; font-weight: 500; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-Italic-webfont.eot'); src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/OpenSans-Italic-webfont.woff') format("woff"), url('../fonts/OpenSans-Italic-webfont.ttf') format("truetype"), url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format("svg"); font-weight: normal; font-weight: 500; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-Semibold-webfont.eot'); src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/OpenSans-Semibold-webfont.woff') format("woff"), url('../fonts/OpenSans-Semibold-webfont.ttf') format("truetype"), url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format("svg"); font-weight: bold; font-weight: 600; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot'); src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format("woff"), url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format("truetype"), url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format("svg"); font-weight: bold; font-weight: 600; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-Bold-webfont.eot'); src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-Bold-webfont.woff') format("woff"), url('../fonts/OpenSans-Bold-webfont.ttf') format("truetype"), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format("svg"); font-weight: bold; font-weight: 700; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-BoldItalic-webfont.eot'); src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-BoldItalic-webfont.woff') format("woff"), url('../fonts/OpenSans-BoldItalic-webfont.ttf') format("truetype"), url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format("svg"); font-weight: bold; font-weight: 700; font-style: italic; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-ExtraBold-webfont.eot'); src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/OpenSans-ExtraBold-webfont.woff') format("woff"), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format("truetype"), url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format("svg"); font-weight: bold; font-weight: 900; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot'); src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format("woff"), url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format("truetype"), url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format("svg"); font-weight: bold; font-weight: 900; font-style: italic; }
