<!DOCTYPE html>
<html class="about">
  <head>
    <title>UnICarbKB</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/bootstrapnewlayout.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/stylesnewlayout.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/bootstrap-responsive.css")">
    <link rel="icon" href="@routes.Assets.at("/public", "favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@routes.Assets.at("/public", "favicon.ico")" type="image/x-icon">
  </head>

  <header>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">UniCarbKB</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Search</a></li>
            <li><a href="/references">References</a></li>
            <li><a href="/builder">Glycan Builder</a></li>
          </ul>
          <div id="headersearch" class="pull-right">
            <ul>
              <li class='about'><a href="/about">About</a></li>
              <li><a href="/about">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid content">
    <div class="row-fluid info">
      <div class="span8 leftContent">
        <h3>About UniCarbKB</h3>
        <p>
          The rapidly expanding glycomics field (structure and function of sugars) is being increasingly recognized as an important component of life science research, for application in diagnosis of disease, preventive medicines (vaccines) and therapeutic drugs. In contrast to the genomics and proteomics fields, and despite several international initiatives, glycomics still lacks maintained, accessible, curated, integrated and comprehensive data collections that summarize the structure, characteristics, biological origin and potential function of carbohydrates.
        </p>
        <p>
          UniCarbKB is an initiative that aims to promote the creation of an online information storage and search platform for glycomics and glycobiology research. The knowledgebase will offer a freely accessible and information rich resource supported by querying interfaces, annotation technologies and the adoption of common standards to integrate structural, experimental and functional data. Through cross-referencing existing databases and information resources, the UniCarbKB framework endeavours to support the growth of glycobioinformatics and the dissemination of knowledge through the provision of an open and unified portal to encourage the sharing of data.
        </p>
        <p>
          The initiative aims to make the technology available to all glycomics researchers and other ‘omics’ disciplines to explore and integrate cross-disciplinary boundaries to gain new insights. Australia has a unique opportunity to become a global focal point for building and enabling a capability area in glycomics that integrates and leverages the technology and data produced by previous international and Australian infrastructure initiatives.
        </p>
      </div>

      <div class='span4 sidebar'>
        <ul class='nav nav-pills nav-stacked clearfix'>
          <h3>Contacts</h3>
          <li>
            <a href='mailto:nicki.packer&#64;mq.edu.au>'>
              Nicki Packer; Director, Biomolecular Frontiers Research Centre, Macquarie University, Sydney 
            </a>
          </li>
        </ul>
        <div class="info clearfix">
          <h4>Social Connections</h4>
          <a href="https://twitter.com/unicarbkb" class="twitter-follow-button" data-show-count="false">Follow unicarbkb</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <!-- Place this tag where you want the +1 button to render -->
          <br><g:plusone size="medium" annotation="none"></g:plusone>

          <!-- Place this render call where appropriate -->
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
          </script>
          <div class="timeline-arrow"></div>
        </div>
      </div>
    </div>
    
    <div class="row-fluid logos">
      <div class='span3 nectar'><img src='/assets/img/NeCTAR_Logo.png' alt='' /></div>
      <div class='span3'><img src='/assets/img/ANDS_Logo.png' alt='' /></div>
      <div class='span3 stint'><img src='/assets/img/STINT_Logo.png' alt='' /></div>
      <div class='span3'><img src='/assets/img/SIB_Logo.png' alt='' /></div>
    </div>


    <div class="footer row-fluid">
      <div class="span12">
        <p class="pull-left">UniCarbKB</p>
        <p class="pull-right">Supported by 
          <a href="http://www.nectar.org.au">NeCTAR</a> &nbsp;|&nbsp;
          <a href="http://www.ands.org.au">ANDS</a> &nbsp;|&nbsp;
          <a href="http://www.stint.se"> STINT</a> &nbsp;|&nbsp;
          <a href="http://expasy.org/"> SIB ExPASy</a>
        </p>
      </div>
    </div>
  </div>

</html>	
