@main{

      <ul class="breadcrumb">
        <li><a href="#">Curated Database</a> <span class="divider">/</span></li>
        <li><a href="#">GlycoSuite</a> <span class="divider">/</span></li>
        <li><a href="../references">Reference</a> <span class="divider">/</span></li>
        <li class="active">You are here</li>
      </ul>

      <section id="layouts" class="browse">
      <h1>Browse</h1>
      <h4 class="subheader">Currently returning results from GlycosuiteDB, EuroCarb, and NextProt</h4>
      <div class="row-fluid">
        <div class="span12">
        <select class="" name="mydropdown">
          <option value="">Select a Protine database to search:</option>
          <option value="Milk">Fresh Milk</option>
          <option value="Cheese">Old Cheese</option>
          <option value="Bread">Hot Bread</option>
        </select>
      </div>
      </div>
      <div class="row-fluid">
        <div class="span3 filterbar tabbable">
          <ul class="nav nav-tabs">
            <li><a href="#filter1" data-toggle="tab">GlycosuiteDB</a></li>
            <li class=""><a href="#filter2" data-toggle="tab">EuroCarb</a></li>
            <li><a href="#filter3" data-toggle="tab">NextProt</a></li>
          </ul>
        </div><!-- /col -->
        <div class="span9 rightpanel">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
              <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
            </ul>
            <div class="tab-content results">
              <div class="tab-pane active" id="tab1">
                <h2>Filter</h2>
                <div id="filter1" class="control-group glycosuitedb">
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Query by Disease 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Query by Mass 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Query by Composition 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Query by Attached 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Query by Protein 

                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Taxonomy 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Biological 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Source 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Reference 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Linkage 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                </div>
                <div id="filter2" class="tab-pane control-group eurocarb">
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Linkage 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                </div>
                <div id="filter2" class="tab-pane control-group nextprot">
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox"> Linkage 
                      <select class="" name="mydropdown">
                        <option value="">Select a Protine database to search:</option>
                        <option value="Milk">Fresh Milk</option>
                        <option value="Cheese">Old Cheese</option>
                        <option value="Bread">Hot Bread</option>
                      </select>
                      <input type="text" placeholder="Text input">
                    </label>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                <h2>Browse Results</h2>
                <div class="row-fluid">
                  <h3><a href="#">Example Result 01</a><span class="pull-right"><span class="label success">Curated Entry</span> <span class="label notice">GlycoSuiteDB</span></span></h3>
                  <div class="details span9">
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing amet semper bibendum, leo ipsum rhoncus sapien, vitae adipiscing mauris velit at tellus.</p>
                  </div>
                  <div class="span3">
                    <p class="pull-right">12.06.12</p>
                  </div>
                </div>
                <p>Howdy, I'm in Section 2.</p>
              </div>
            </div>
          </div>
        </div><!-- /col -->
      </div><!-- /row -->
    </section>

}
