@(taxonomy: List[String], taxon: ArrayList[Taxonomy],  biolsource: List[Biolsource], groupTax: List[List[String]], sources: HashSet[String], proteins: HashSet[String] )


@main{


<script>
      $(document).ready(function(){
        $("#e1").select2({
          placeholder: "Select multiple species...",
          allowClear: true,
        });
	});
</script>
<script>
      $(document).ready(function(){
        $("#e2").select2({
          placeholder: "Select multiple tissues... ",
          allowClear: true,
        });
        });
</script>
<script>
      $(document).ready(function(){
        $("#e3").select2({
          placeholder: "Select multiple proteins...",
          allowClear: true,
        });
        });
</script>


<script>
        $(function() {
        var myArray = new Array();
        @for(a <- taxonomy){
                myArray.push("@a");
        }
	myArray.sort();
        options = '';
        for (var i = 0; i < myArray.length; i++) {
                options += '<option value="' + myArray[i] + '">' + myArray[i] + '</option>';
        }
        $('#e1').html(options);

        });
</script>

<script>
	$(function() {
        var mySources = new Array();
	@for(s <- sources){
		mySources.push("@s");
	}
	mySources.sort();
	options = '';
	for (var i = 0; i < mySources.length; i++) {
		options += '<option value="' + mySources[i] + '">' + mySources[i] + '</option>';
        }
	$('#e2').html(options);
	});
</script>

<script>
        $(function() {
        var myProteins = new Array();
        @for(s <- proteins ){
                myProteins.push("@s");
        }
        myProteins.sort();
        options = '';
        for (var i = 0; i < myProteins.length; i++) {
                options += '<option value="' + myProteins[i] + '">' + myProteins[i] + '</option>';
        }
        $('#e3').html(options);
        });
</script>



      <ul class="breadcrumb">
        <li><i class="icon-folder-open" ></i><a href="#"> UniCarbKB Database</a> <span class="divider">></span></li>
        <li><i class="icon-hdd" ></i><a href="#"> GlycoSuite</a> <span class="divider">></span></li>
        <li><i class="icon-list-alt" ></i><a href="../references"> Reference</a> <span class="divider">></span></li>
        <li class="active">You are here</li>
      </ul>

    <section id="layouts" class="browse">
      <h1>Search UniCarbKB</h1>
      <h4 class="subheader">Currently returning results from GlycosuiteDB, EuroCarb, and NextProt</h4>
      <div class="row-fluid">
        <div class="span12">
        <select class="" name="mydropdown">
          <option value="">Select a Protine database to search:</option>
          <option value="Milk">Fresh Milk</option>
          <option value="Cheese">Old Cheese</option>
          <option value="Bread">Hot Bread</option>
        </select>
      </div>
      </div>
      <div class="row-fluid">
        <div class="span3 filterbar tabbable">
          <ul class="nav nav-tabs" id="myTabBar">
            <li><a href="#filter1" data-toggle="tab">Glycosuite <span class="pull-right count">@if(taxon.size() >0 ) {@taxon.size() }</span></a></li>
            <li class=""><a href="#filter2" data-toggle="tab">EuroCarb</a></li>
            <li><a href="#filter3" data-toggle="tab">NextProt</a></li>
          </ul>
        </div><!-- /col -->
        <div class="span9 rightpanel">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#tab1" data-toggle="tab">Search</a></li>
              <li><a href="#tab2" data-toggle="tab">Search Results (42)</a></li>
              <li><a href="#tab3" data-toggle="tab">Related Results</a></li>
            </ul>
            <div class="tab-content results">
	      <div class="tab-pane active" id="tab1">
                <h2><img src="../images/icon_search.png"> Search Features &amp; Results</h2>
              </div>

              <div class="tab-pane active span9" id="tab1">
                <h3>Biological Content</h3>
		<p>Search structures in the database that are associated with multiple biological feature:</p>

		<div class="controls">
                    <label class="checkbox">
			<form class="form-search">
			<h4 style="color: #424242; font-size: 1.5em; font-weight: 300;">Taxonomy</h4>
			@*<p>Display glycan structures characterized from a species:</p>*@
                        <div id="selection">
                        <select  name=taxonomy MULTIPLE id="e1" style="width:350px"  id="listBox"></select>
                        <button type="submit" class="btn">Search</button>
                        </div>
                        </form>
                    </label>
                  </div>

		<div class="controls">
                    <label class="checkbox">
                        <form class="form-search">
			<h4 style="color: #424242; font-size: 1.5em; font-weight: 300;">Localisation</h4>
			@*<p>Search for curated data associated with tissue types:</p>*@
                        <div id="selection">
                        <select  name=disease MULTIPLE id="e2" style="width:350px"  id="listBox"></select>
                        <button type="submit" class="btn">Search</button>
                        </div>
                        </form>
                    </label>
                  </div>

		<div class="controls">
                    <label class="checkbox">
                        <form class="form-search">
			<h4 style="color: #424242; font-size: 1.5em; font-weight: 300;">Protein Association</h4>
			@*<p>Query the database by protein name  (UniProt classification):</p>*@ 
                        <div id="selection">
                        <select  name=protein MULTIPLE id="e3" style="width:350px"  id="listBox"></select>
                        <button type="submit" class="btn">Search</button>
                        </div>
                        </form>
                    </label>
                  </div>  


	      </div>
	      <div class="tab-pane active span9" id="tab1">
                <h3>Structure</h3>
		<div class="controls">
                        @*<h4>Glycan Builder</h4>*@
                        <p>Find structures by composition and mass or build your glycan structure:</p>        
		  <a class="btn btn-primary" href="/search">Glycan Builder</a>
	 	</div>

		<div class="controls">
                    <label class="checkbox">
                      <div class="row-fluid">
                        <div class="span12">
                          <input id="querymasscheck" type="checkbox"> Query by Mass: 
                          <div id="querymasshide" class="control-group">
                            <input type="text" name="mass_range" size=20 >&nbsp;+/-&nbsp;<input type=text name=mass_plusminus size=4>&nbsp;Da
                            <div class="span4">
                              <span class=strong>Mass is:</span>
                              <br>
                              <input type="radio" name="mass_is_monoiso" value="true" checked>&nbsp;monoisotopic
                              <br>
                              <input type="radio" name="mass_is_monoiso">&nbsp;average
                            </div>

                            <div class="span6">
                              <input type="radio" name="mass_iontype" value="M" checked>&nbsp;uncharged
                              <br>
                              <input type="radio" name="mass_iontype" value="MH+">&nbsp;MH+
                              <br>
                              <input type="radio" name="mass_iontype" value="MH-">&nbsp;MH-
                            </div>
                          </div>
                        </div>
                      </div>
		    </label>
                </div>

		<div class="controls">
                    <label class="checkbox">
                      <div class="row-fluid">
                        <div class="span12">
                          <input id="querycompositioncheck" type="checkbox"> Query by Composition 
                          <div id="querycompositionhide" class="control-group">
                            <input type="text" placeholder="Text input">
                            <span class=strong>Enter a composition, or a composition range.</span>
                            <div class="row-fluid">
                              <div class="span4">
                                <input name=mscomp_Hexose      type=text size=3 >&nbsp;Hex<br>
                                <input name=mscomp_HexNAc      type=text size=3 >&nbsp;HexNAc<br>
                                <input name=mscomp_deoxyHexose type=text size=3 >&nbsp;dHex<br>
                                <input name=mscomp_pentose   type=text size=3 >&nbsp;Pent<br>
                              </div>

                              <div class="span4">
                                <input name=mscomp_NeuAc type=text size=3 >&nbsp;NeuAc<br>
                                <input name=mscomp_NeuGc type=text size=3 >&nbsp;NeuGc<br>
                                <input name=mscomp_KDN   type=text size=3 >&nbsp;KDN<br>
                                <input name=mscomp_HexA type=text size=3 >&nbsp;HexA<br>
                              </div>

                              <div class="span4">
                                <input name=mscomp_phosphate type=text size=3 >&nbsp;P<br>
                                <input name=mscomp_sulfate  type=text size=3 >&nbsp;S<br>
                                <input name=mscomp_methyl type=text size=3 >&nbsp;Methyl<br>
                                <input name=mscomp_acetyl type=text size=3 >&nbsp;Acetyl<br>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </label>
                  </div>

		<h3></h3>
                <div class="controls">
                        <h3>Publications</h3>
                        <p>Browse all publications</p>
                  <a class="btn btn-primary" href="/references">Publications</a>
                </div>


              </div>
              <div class="tab-pane" id="tab2">
                <h2>Search returned (@taxon.size()) results from Glycosuite</h2>
		@if(taxon !=null) {

		@for( (taxon, ii) <- taxon.zipWithIndex) {

                <div class="row-fluid">
                  <h3><a href="#">@taxon.species</a><span class="pull-right"><span class="label success">Curated Entry</span> <span class="label notice">GlycoSuiteDB</span></span></h3>
                  <div class="details span9">
		  <p class="">@taxon.taxprotein.size() glycoproteins are associated with this taxonomy including: @for( (tax, i) <- taxon.taxprotein.zipWithIndex; if (i <= 6)) {  <a href="">@tax.protein, </a> }</p>
                  </div>
                  <div class="span3">
                    <p class="pull-right structures"><a href="#">@taxon.strtaxonomy.size() structures </a></p>
                  </div>
                </div>
		}}
                <hr>
              </div>
            </div>
          </div>
        </div><!-- /col -->
      </div><!-- /row -->
    </section>

@if(taxon.size() != 0 ) {
<script>
	$(function () {
    	var test = 'first'; @* target this during page reload *@
    	$('#myTabBar a:' + test).tab('show');
    	$('#myTab a[href="#tab2"]').tab('show');
  	})
</script>
}

@if(taxon.size() == 0 ) {
<script>
        $(function () {
        var test = 'first'; @* target this during page reload *@
        $('#myTabBar a:' + test).tab('show');
        $('#myTab a[href="#tab1"]').tab('show');
        })
</script>
}

}
