<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;border:0;margin:0;">
<head> 
<title>UniCarbKB - GlycanBuilder</title> 
     <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/bootstrap.min.css")"> 
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/unicarbkbbuilder.css")">

    <link rel="icon" href="@routes.Assets.at("/public", "favicon.ico")" type="image/x-icon">

    <script src="@routes.Assets.at("/public","javascripts/jquery.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/jquery.ae.image.resize.min.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/jquery.tablesorter.min.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/bootstrap-lightbox.min.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/showdown.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/google-jsapi.js")"></script>
    @**  <script src="@routes.Assets.at("/public","javascripts/main.js")"></script> *@
    <script src="@routes.Assets.at("/public","javascripts/jPages.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/jquery.lazyload.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/load-image.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/bootstrap-image-gallery.min.js")"></script>

    <script src="@routes.Assets.at("/public","javascripts/select2.js")"></script>
    <script src="@routes.Assets.at("/public","javascripts/application.js")"></script>

    <script src="@routes.Assets.at("/public","javascripts/workflows.js")"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<section id="main" class="container-fluid content">
<body>
<header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">UniCarbKB</a>
          <ul class="nav">
            <li class=""><a href="/">Home</a></li>
            <li><a href="/query">Query</a></li>
            <li><a href="/references?s=authors">References</a></li>
            <li><a href="/proteins">Glycoproteins</a></li>
            <li><a href="/builder">Glycan Builder</a></li>
          </ul>
          <div id="headersearch" class="pull-right">
            <ul class='nav'>
            <li><a href="/about">About</a></li>
            <li><a href="/about"> Contact</a></li>
            @*<li id="user"><a href=""> @request.username</li></a>
            <li><a href="@controllers.Application.logout()">Logout</a></li>*@
            </ul>
            </li>
            </ul>
          </div>


        </div>
      </div>
    </div>
</header>
<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li class="active"><i class="icon-wrench" ></i> Glycan Builder <span class="divider"></span></li>
</ul>

<div class="page-header row-fluid">
      <h1>Glycan Builder and GlycoDigest</h1>
      <h4 class="subheader">An intuitive interface for building and displaying glycan structures</h4>
</div>

        <script type="text/javascript" src="/GlycanBuilder/VAADIN/vaadinBootstrap.js"></script>

        <iframe id="__gwt_historyFrame" style="width:0;height:0;border:0;overflow:hidden" src="javascript:false"></iframe>

<div class="row-fluid">
<p>Welcome to the preview launch of UniCarbKBs integrated <a href="http://glycodigest.org">GlycoDigest</a> tool. This first release focuses on the behaviour and mode of action of <a href="http://glycodigest.org/exoglycosidase.pdf">exoglycosidases</a> on N-link glycans. <b>To successfully</b> run GlycoDigest build N-link structures with embedded linkage information</p>
</div>

<div style="height:450px;" id="fb" class="v-app">
   <!-- Optional placeholder for the loading indicator -->
    <div class=" v-app-loading"></div>

    <!-- Alternative fallback text -->
    <noscript>You have to enable javascript in your browser to
              use an application built with Vaadin.</noscript>
  </div>      
<script type="text/javascript">//<![CDATA[
    if (!window.vaadin)
        alert("Failed to load the bootstrap JavaScript: VAADIN/vaadinBootstrap.js");

    /* The UI Configuration */
    vaadin.initApplication("fb", {
        "browserDetailsUrl": "GlycanBuilder/",
        "serviceUrl": "GlycanBuilder/",
        "widgetset": "ac.uk.icl.dell.vaadin.glycanbuilder.widgetset.GlycanbuilderWidgetset",
        "theme": "ucdb_2011theme",
        "versionInfo": {"vaadinVersion": "7.0.0"},
        "vaadinDir": "/GlycanBuilder/VAADIN/",
        "heartbeatInterval": 300,
        "debug": false,
        "standalone": false,
        "authErrMsg": {
            "message": "Take note of any unsaved data, "+
                       "and <u>click here<\/u> to continue.",
            "caption": "Authentication problem"
        },
        "comErrMsg": {
            "message": "Take note of any unsaved data, "+
                       "and <u>click here<\/u> to continue.",
            "caption": "Communication problem"
        },
        "sessExpMsg": {
            "message": "Take note of any unsaved data, "+
                       "and <u>click here<\/u> to continue.",
            "caption": "Session Expired"
        }
    });//]]>
  </script>
        @* <script type="text/javascript"> 
        var callBack=[];
        callBack.run=function(response){alert(response);}
        </script> *@

	<script type="text/javascript">
        var callBack=[];
        callBack.run=function(response){
          document.write(response);
         var r = response;
          //document.write(r);
          //document.form.frm1.Search = 'test this';
          //document.form.frm1.submit();
        //document.forms["frm2"].submit();
        var url = "/builderDigestSearch/s?";
        var x = url + encodeURI(r);
        //var s = [ url, "" , r].join("");
        //document.write(x);
window.location = x ;
        }
       </script>

        <form id="frm1" name="frm1" action="ms" method="POST" class="form-search">
        <input type="button" name="Digest" value="Digest" onclick='exportCanvas("glycoct_condensed","callBack");'/>
        </form>


<div class="row-fluid">
        <div class="span6">
        <h3 class="">Find Structures</h3>
        <p class="builder">Build your glycan or epitope and search the UniCarbKB structure database. This new design is built using new technologies and discussed by the developer David Damerell.</p>
        </div>

        <div class="span6">
        <h3 class="">Publication</h3>
        <p class="builder">The GlycanBuilder: a fast, intuitive and flexible software tool for building and displaying glycan structures, Alessio Ceroni, Anne Dell, and Stuart M Haslam, Source Code Biol Med. 2007. <a href="http://www.ncbi.nlm.nih.gov/pubmed/17683623">PubMed</a></p>
        <p class="builder">The GlycanBuilder and GlycoWorkbench glycoinformatics tools: updates and new developments, Damerell D, Ceroni A, Maass K <i>et al</i>, Biol Chem. 2012. <a href="http://www.ncbi.nlm.nih.gov/pubmed/23109548">PubMed</a></p>
        </div>
</div>


        </body>
</section>
</html>
