@main {

<script type="text/javascript">
var vaadin = {
 vaadinConfigurations: {
'fb' :{
appUri:'/GlycanBuilder',
 pathInfo: '/GlycanBuilder',
themeUri: '/GlycanBuilder/VAADIN/themes/ucdb_2011theme',
versionInfo : {vaadinVersion:"6.0.0-INTERNAL-NONVERSIONED-DEBUG-BUILD",applicationVersion:"NONVERSIONED"}
 }
}};
</script>

<link rel="stylesheet" type="text/css" href="/GlycanBuilder/VAADIN/themes/ucdb_2011theme/styles.css"/>
<script language='javascript' src='GlycanBuilder/VAADIN/widgetsets/ac.uk.icl.dell.vaadin.glycanbuilder.widgetset.GlycanbuilderWidgetset/ac.uk.icl.dell.vaadin.glycanbuilder.widgetset.GlycanbuilderWidgetset.nocache.js'></script>
</head>

<body>

<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li class="active"><i class="icon-wrench" ></i> Glycan Builder <span class="divider"></span></li>
</ul>
<div class="page-header row-fluid">
<h1>Glycan Builder</h1>
<h4 class="subheader">An intuitive interface for building and displaying glycan structures</h4>
</div>

<div class="row-fluid">
</div>

<div class="row-fluid">

        <div class="span6">
        <h3 class="">Find Structures</h3>
        <p class="builder">Build your glycan or epitope and search the UniCarbKB structure database. This new design is built using new technologies and discussed by the developer David Damerell.</p>
        </div>

        <div class="span6">
        <h3 class="">Publication</h3>
        <p class="builder">The GlycanBuilder: a fast, intuitive and flexible software tool for building and displaying glycan structures, Alessio Ceroni, Anne Dell, and Stuart M Haslam, Source Code Biol Med. 2007. <a href="http://www.ncbi.nlm.nih.gov/pubmed/17683623">PubMed</a></p>
        <p class="builder">The GlycanBuilder and GlycoWorkbench glycoinformatics tools: updates and new developments, Damerell D, Ceroni A, Maass K <i>et al</i>, Biol Chem. 2012. <a href="http://www.ncbi.nlm.nih.gov/pubmed/23109548">PubMed</a></p>
        </div>


      </div>

<iframe id="__gwt_historyFrame" style="width:0;height:0;border:0;overflow:hidden" src="javascript:false"></iframe>


        <div id="fb" style="height:450px; width:80%;margin:0">

        </div>

<script type="text/javascript">
        var callBack=[];
        <!-- callBack.run=function(response){alert(response);} -->
	callBack.run=function(response){
         var r = response;
        var url = "/builderDigestSearch/s?";
        var x = url + encodeURI(r);
 	console.log(x);
        window.location = x ;
	}
</script>


<form>
<input type="button" name="Search" value="Search" onclick='window["glycanCanvas"].runCommand("export~glycoct_condensed",callBack);'/>
</form>


</body>

<script type="text/javascript">

        function Write()
        {
        var Scr = new ActiveXObject("Scripting.FileSystemObject");
        var CTF = Scr.CreateTextFile("/tmp/tmp.out", true);
        CTF.WriteLine('Roseindia');
        CTF.Close();
        }

</script>
}
