@(structure: List[Structure])

@main{

<ul class="breadcrumb">
  <li><i class="icon-folder-open"></i><a href="#"> UniCarbKB Database</a> <span class="divider">&gt;</span></li>
  <li><i class="icon-hdd"></i><a href="/browse"> Search</a> <span class="divider">&gt;</span></li>
  <li class="active"> You are here</li>
</ul>

<section id="layout" class="browse">
	<h1>Composition Search</h1>
	<h4 class="subheader">GlycosuiteDB records with matching residues</h4>
	<div class="row-fluid">

	<div class="span3 search">
    	<div class="row-fluid">
      	  <div class="filterbar tabbable clearfix">
           <ul class="nav nav-tabs" id="myTabBar">
           <li class="active"><a href="#filter1" data-toggle="tab">GlycoSuiteDB <span class="pull-right count">  </span></a></li>
           <li class=""><a href="#filter2" data-toggle="tab">EUROCarbDB</a></li>
           <li><a href="#filter3" data-toggle="tab">GlycoBase <span class="pull-right count">   </span></a></li> </ul>
          </div>

          <div class="info">
           <h4>GLYCAN BUILDER</h4>
            <p>Build and search a glycan structure<a href="/search"> using the new interface</a>.</p>
          </div>

          <div class="info">
           <h4>CURATED PUBLICATIONS</h4>
           <p>Search the <a href="/references">growing list publications and associated structures and metadata</a>.</p>
          </div>
        </div>
  	</div>

	<div class="span9 rightpanel">
	  <ul class="media-grid">
	  @for(structure <- structure) {
	   <li><a href="#"><img style="max-height: 150px; max-width: 200px" src="../images/cfg/_@{structure.id}.png" alt=""></a></li>
	  }
	    		</ul>

	</div>

	</div>

</section>


}
