@(structure: List[Structure])

@main{

<ul class="breadcrumb">
  <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">&gt;</span></li>
  <li><i class="icon-search"></i><a href="/browse"> Search</a> <span class="divider">&gt;</span></li>
  <li class="active"> Composition Search</li>
</ul>

<section id="layout" class="browse">
	<h1>Composition Search</h1>
	<h4 class="subheader">GlycosuiteDB records with matching residues</h4>
	<div class="row-fluid">

	<div class="span3 search">
    	<div class="row-fluid">
      	  <div class="filterbar tabbable clearfix">
           <ul class="nav nav-tabs" id="myTabBar">
           <li class="active"><a href="#filter1" data-toggle="tab">GlycoSuiteDB <span class="pull-right count">  </span></a></li>
           @*<li class=""><a href="#filter2" data-toggle="tab">EUROCarbDB</a></li>
           <li><a href="#filter3" data-toggle="tab">GlycoBase <span class="pull-right count">   </span></a></li> </ul>*@
          </div>

          <div class="info">
            <h4>Other Options:</h4>
            <p><b>Glycan Builder:</b> Build and search a glycan structure<a href="/search"> using the new interface</a>.</p>
            <p><b>Curated Publications:</b> Search the <a href="/references">growing list of publications, associated structures, and metadata</a>.</p>
          </div>
        </div>
  	</div>

	<div class="span9 rightpanel">
	  @if(structure.size() >1 ) {
      <ul class="structures media-grid">
        @for(structure <- structure) {
        <li><a href="/structure/@structure.id"><img class="thumbnail" src="../images/_@{structure.id}.png" alt=""></a></li>
        }
      </ul>
	  }
	  @if(structure.size() <1 ) {
	  <div class="row-fluid">
	  <h3>No structures with that compostion were found</h3>

          <a class="btn btn-info" href="/browse"> Try Searching Again! </a>
          }
	</div>
	</div>

	</div>

</section>


}
