@import helper._

@main {

<style>
.break-block {
    margin: 50px 0;
    padding: 30px;
    background-color: #f2f6f7;
    font: 16px/24px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 300
}

.break-block .text-only {
    position: relative;
    top: 15px
}

.break-block .reviewer {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0
}

.break-block .right {
    width: 600px;
    background: url(../img/quote.png) no-repeat 0 0;
    padding-left: 40px
}
</style>

<div class="container-fluid content">
	<div class="row-fluid">
		<div class="span12">
			<h1 style="text-align: center">GlycoDigest: a tool for exoglycosidase digestions</h1>
			<p style="text-align: center"><img src="http://www.glycodigest.org/enzymes.png" /></p>

			<h4 style="text-align: center">GlycoDigest a tool that simulates exoglycosidase digestion, based on controlled rules acquired from expert knowledge and experimental evidence available in GlycoBase. The tool allows the targeted design of glycosidase enzyme mixtures by allowing researchers to model the action of exoglycosidases, thereby validating and improving the efficiency and accuracy of glycan analysis.</h4>
@* 
<div class="break-block"><div class="container">
	<div>XMind shines as a mind mapping tool that doesn't get in the way as the ideas come flooding out of your head. The mind maps and other charts it produces are attractive and simple to create.</div>
</div></div>
*@
		</div>
	</div>


</div>

}
