
@main{

<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li class="active"><i class="icon-briefcase" ></i> Log In<span class="divider"></span></li>
</ul>

<section id="layouts" class="browse">
  <h1>Enter your email and password to log in</h1>
  <h4 class="subheader">Log in to access extra UnicarbKB features.</h4>

  <div class='row-fluid'>
    <form class="form-horizontal" accept-charset="UTF-8" action="/users/sign_in" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="vg7ZWYEjJd7R3fPCfs6RRWUCJxW1iPBJFeldLbpa8VI=" /></div>

      <div class='control-group'>
        <label class='control-label' for='user_email'>Email:</label>
        <div class='controls'>
          <input id='user_email' class="" name='user[email]' type='email' />
        </div>
      </div>
      <div class='control-group'>
        <label class='password optional control-label' for='user_password'>Password:</label>
        <div class='controls'>
          <input class='password optional' id="user_password" name="user[password]" size="50" type="password" />
        </div>
      </div>
      <div class='form-actions'>
        <input class="btn btn-primary" name="commit" type="submit" value="Log in" />
      </div>

    </form>
    <a href='/user/sign_up' class='btn'>Sign Up</a>
    <a href='/user/password/new' class='btn'>Forgot your password?</a>

  </div><!-- /col -->
</div><!-- /row -->
<div class="footer row-fluid">
  <div class="span12">
    <p class="pull-left">UniCarbKB</p>
    <p class="pull-right">Supported by 
      <a href="http://www.nectar.org.au">NeCTAR</a> &nbsp;|&nbsp; 
      <a href="http://www.ands.org.au">ANDS</a> &nbsp;|&nbsp;
      <a href="http://www.stint.se"> STINT</a> &nbsp;|&nbsp;
      <a href="http://expasy.org/"> SIB ExPASy</a>
    </p>
  </div>
</div>
</section>

}
