@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Reference</title>
	 <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/bootstrap.ori.min.css")"> 
	 <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/style.css")"> 
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/customMarkdown.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("/public", "stylesheets/jquery.lightbox-0.5.css")">
	<script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script>
	<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>
	<script src="@routes.Assets.at("/public","javascripts/jquery.ae.image.resize.min.js")"></script>
	<script src="http://designshack.net/tutorialexamples/masonry/demos/jquery.wookmark.js"></script>
	<script src="@routes.Assets.at("/public","javascripts/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("/public","javascripts/jquery.tablesorter.min.js")"></script>
	<script src="@routes.Assets.at("/public","javascripts/jquery.lightbox-0.5.min.js")"></script>
	<script src="@routes.Assets.at("/public","javascripts/jquery.lightbox-0.5.pack.js")"></script>
	<script src="@routes.Assets.at("/public","javascripts/showdown.js")"></script>
	<script src="@routes.Assets.at("/public","javascripts/google-jsapi.js")"></script>
@**	 <script src="@routes.Assets.at("/public","javascripts/main.js")"></script> *@
	<script src="@routes.Assets.at("/public","javascripts/jPages.js")"></script>
	<script src="@routes.Assets.at("/public","javascripts/jquery.lazyload.js")"></script>

	
	
	<script>
    		$(function() {
      		$( ".resizeme" ).aeImageResize({ height: 400, width: 280 });
		$( ".resizemeModal" ).aeImageResize({ height: 200, width: 200 });
    		});
  	</script>
	<script>
		$(document).ready(function(){
   			$(".announceTaxStructures").click(function(){ // Click to only happen on announce links
     			$("#Id").val($(this).data('id'));
     				$('#taxDescription').modal('show');
		});
		});
		function closeDialog () {
                        $('#taxDescription').modal('hide'); 
                                };
                function okClicked () {
                         closeDialog ();
                                };

	</script>

	<script>
			$(document).ready(function(){
   $(".announce").click(function(){ // Click to only happen on announce links
     $("#Id").val($(this).data('id'));
     $('#windowDescription').modal('show');

var result = $(this).data('id');
	var replace = result.replace("[","");
	var replace = replace.replace("]","");
	var replace = replace.replace(",","");
	var replace = replace.replace("null","");
	var replace = replace.replace(" >  > ","");

	$('p').html(replace).appendTo(document.myDiv);


   });
});

                        function closeDialog () {
                                $('#windowDescription').modal('hide'); 
                                };
                        function okClicked () {
                                closeDialog ();
                                };
    	</script>

<script>

/* Download lazy load plugin and make sure you add it in the head of your page. */

/* when document is ready */
$(function() {
    
    /* initiate lazyload defining a custom event to trigger image loading  */
    $("ul li img").lazyload({
        event : "turnPage",
        effect : "fadeIn"
    });

    /* initiate plugin */
    $("div.holder").jPages({
        containerID : "itemContainer",
        animation   : "fadeInUp",
        callback    : function( pages, items ){
            /* lazy load current images */
            items.showing.find("img").trigger("turnPage");
            /* lazy load next page images */
            items.oncoming.find("img").trigger("turnPage");
        }
    });

});
</script>

    </head>
    <body>
        
        @*<header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                   Reference Browsing 
                </a>
            </h1>
        </header>*@
<header>
	<div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">UniCarbKB</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          @*<p class="pull-right">Logged in as <a href="#">username</a></p> *@
	  <div class="pull-right">
            <form action="">
            <input type="text" placeholder="To search proteins, tax, source">
            </form>
         	<ul>
           	<li class="dropdown" id="menu1">
             	<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
               	Login <b class="caret"></b></a>
             	<div class="dropdown-menu">
               	<form style="margin: 0px" accept-charset="UTF-8" action="/sessions" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="4L/A2ZMYkhTD3IiNDMTuB/fhPRvyCNGEsaZocUUpw40=" /></div>
                 <fieldset class='textbox' style="padding:10px">
                   <input style="margin-top: 8px" type="text" placeholder="Username" />
                   <input style="margin-top: 8px" type="password" placeholder="Passsword" />
                   <input class="btn-primary" name="commit" type="submit" value="Log In" />
                 </fieldset>
              	</form>
             	</div>
           	</li>
        	</ul>
          </div>


        </div>
      </div>
    </div>
       </header> 
        <section id="main">
            @content
        </section>
        
    </body>
</html>
