@main { <ul class="breadcrumb"> <li><i class="icon-folder-open" ></i><a href="#"> UniCarbKB Database</a> <span class="divider">></span></li>    <li><i class="icon-hdd" ></i><a href="/browse"> Browse</a> <span class="divider">></span></li> <li><i class="icon-hdd" ></i><a href="/browse"> Protein Summary</a> <span class="divider">></span></li>
    <li class="active" > You are here</li>
  </ul>

  <section id="layouts" class="proteinsummary">

  <div class="row-fluid">
    <div class="span6">

      <div class="page-header">
        <h1>TK2 <span class="pull-right"><span class="label success">Gene: 1</span> <span class="label notice">Ref: 29</span> <span class="label info">ISO: 3</span></span></h1>
        <h4 class="subheader">Gene Name: DCK/DGK year, journal.name</h4>
      </div>

      <h3>PROTEIN</h3>
      <div class="control-group">
        <label>Recommended name:</label> <div class="controls"><p>Thymidine kinase 2, mitochondrial</p></div>
      </div>
      <div class="control-group">
        <label>Alternative name:</label> <div class="controls"><p>Mt-TK Spliced into the following 3 isoforms</p></div>
      </div>

      <h3>GENE</h3>
      <div class="control-group">
        <label>Recommended name:</label> <div class="controls"><p>TK2</p>
      </div>

      <h3>FAMILY</h3>
      <div class="control-group">
        <label>Family:</label> <div class="controls"><p>DCK/DGK</p></div>
      </div>
       
      <h3>HISTORY</h3>
      <div class="control-group">
        <label>neXtProt:</label>
        <div class="controls">
          <p>
            Integrated 2010-03-01
            <br>
            Last updated 2012-11-02
            <br>
          </p>
        </div>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Structures</th>
            <th>Description</th>
            <th>Evidence</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Confirmed</td>
            <td>97</td>
            <td>33</td>
            <td>N-linked (GlcNAc...) <span class="label notice">Ref: 1</span></td>
            <td>UniProtKB</td>
          </tr>
          <tr>
            <td>Confirmed</td>
            <td>128</td>
            <td>33</td>
            <td>N-linked (GlcNAc...) <span class="label notice">Ref: 2</span></td>
            <td>UniProtKB</td>
          </tr>
          <tr>
            <td>Confirmed</td>
            <td>135</td>
            <td>33</td>
            <td>N-linked (GlcNAc...) <span class="label notice">Ref: 3</span></td>
            <td>UniProtKB</td>
          </tr>
          <tr>
            <td>Confirmed</td>
            <td>146</td>
            <td>33</td>
            <td>N-linked (GlcNAc...) <span class="label notice">Ref: 4</span></td>
            <td>UniProtKB</td>
          </tr>
        </tbody>
      </table>

    </div><!-- /col -->

    <div class="span6 details">

      <div class="info">
        <h3>TK2 Sequence</h3>
        <p>
          <span class="label warning">Isoform: <b>Long 256 aa</b></span>
          <span class="label warning">Mass: <b>31005 Da</b></span>
          <span class="label warning">pI: <b>8.71</b></span>
        </p>

        <div class="num">
          1
          <br>
          51
          <br>
          101
          <br>
          151
          <br>
          201
          <br>
          251
          <br>
        </div>
        <div class="sequence">
          MLLWPLRGWA ARALRCFGPG SRGSPASGPG PRRVQRRAWP PDKEQEKEKK
        <br>
          SVICVEGNIA SGKTTCLEFF SNATDVEVLT EPVSKWRNVR GHNPLGLMYH
        <br>
          DASRWGLTLQ TYVQLTMLDR HTRPQVSSVR LMERSIHSAR YIFVENLYRS
        <br>
          GKMPEVDYVV LSEWFDWILR NMDVSVDLIV YLRTNPETCY QRLKKRCREE
        <br>
          EKVIPLEYLE AIHHLHEEWL IKGSLFPMAA PVLVIEADHH MERMLELFEQ
        <br>
          NRDRILTPEN RKHCP
        <br>
        </div>
      </div>

      <div class="info">
        <h3>References</h3>
        <ol>
          <li class="references">
            <p class="title">"Molecular cloning, sequence, and specificity of expression of the gene encoding the low molecular weight human salivary mucin (MUC7)."</p>
            <p class="author"><a>Bobek L.A.</a>, <a>Tsai H.</a>, <a>Biesbrock A.R.</a>, <a>Levine M.J.</a></p>
            <p class="ref">J. Biol. Chem. 268:20563-20569(1993) [PubMed: 7690757]</p>
          </li>

          <li class="references">
            <p class="title">"Low-molecular-mass human salivary mucin, MG2: structure and binding of Pseudomonas aeruginosa."</p>
            <p class="author"><a>Reddy M.S.</a>, <a>Levine M.J.</a>, <a>Paranchych W.</a></p>
            <p class="ref">Crit. Rev. Oral Biol. Med. 4:315-323(1993) [PubMed: 8104046]</p>
          </li>

          <li class="references">
            <p class="title">"The status, quality, and expansion of the NIH full-length cDNA project: the Mammalian Gene Collection (MGC)."</p>
            <p class="author"><a>The MGC Project Team</a></p>
            <p class="ref">Genome Res. 14:2121-2127(2004) [PubMed: 15489334]</p>
          </li>

          <li class="references">
            <p class="title">"Generation and annotation of the DNA sequences of human chromosomes 2 and 4."</p>
            <p class="author"><a>Hillier L.W.</a>, <a>Graves T.A.</a>, <a>Fulton R.S.</a>, <a>Fulton L.A.</a>, <a>Pepin K.H.</a>, <a>Minx P.</a>, <a>Wagner-McPherson C.</a>, <a>Layman D.</a>, <a>Wylie K.</a>, <a>Sekhon M.</a>, <a>Becker M.C.</a>, <a>Fewell G.A.</a>, <a>Delehaunty K.D.</a>, <a>Miner T.L.</a>, <a>Nash W.E.</a>, <a>Kremitzki C.</a>, <a>Oddy L.</a>, <a>Du H.  Wilson R.K.</a></p>
            <p class="ref">Nature 434:724-731(2005) [PubMed: 15815621]</p>
          </li>

          <li class="references">
            <p class="title">"Molecular cloning, sequence, and specificity of expression of the gene encoding the low molecular weight human salivary mucin (MUC7)."</p>
            <p class="author"><a>Bobek L.A.</a>, <a>Tsai H.</a>, <a>Biesbrock A.R.</a>, <a>Levine M.J.</a></p>
            <p class="ref">J. Biol. Chem. 268:20563-20569(1993) [PubMed: 7690757</p>
          </li>
        </ol>
      </div>

    </div><!-- /col -->
  </div><!-- /row -->

  
</section>

}
