@main {

  <ul class="breadcrumb">
    <li><i class="icon-folder-open" ></i><a href="#"> UniCarbKB Database</a> <span class="divider">></span></li>
    <li><i class="icon-hdd" ></i><a href="/browse"> Browse</a> <span class="divider">></span></li>
    <li><i class="icon-hdd" ></i><a href="/browse"> Protein Summary</a> <span class="divider">></span></li>
    <li class="active" > You are here</li>
  </ul>

  <section id="layouts">

  <div class="row-fluid">
    <div class="span6">

      <div class="page-header">
        <h1>TK2 <span class="pull-right"><span class="label success">Gene: 1</span> <span class="label notice">Ref: 29</span> <span class="label info">ISO: 3</span></span></h1>
        <h4 class="subheader">Gene Name: DCK/DGK year, journal.name</h4>
      </div>

      <h3>PROTEIN</h3>
      <div class="control-group">
        <label>Recommended name:</label> <div class="controls"><p>Thymidine kinase 2, mitochondrial</p></div>
      </div>
      <div class="control-group">
        <label>Alternative name:</label> <div class="controls"><p>Mt-TK Spliced into the following 3 isoforms</p></div>
      </div>

      <h3>GENE</h3>
      <div class="control-group">
        <label>Recommended name:</label> <div class="controls"><p>TK2</p>
      </div>

      <h3>FAMILY</h3>
      <div class="control-group">
        <label>Family:</label> <div class="controls"><p>DCK/DGK</p></div>
      </div>
       
      <h3>HISTORY</h3>
      <div class="control-group">
        <label>neXtProt:</label>
        <div class="controls">
          <p>
            Integrated 2010-03-01
            <br>
            Last updated 2012-11-02
            <br>
          </p>
        </div>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Length</th>
            <th>Description</th>
            <th>Evidence</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Processing Transit peptide</td>
            <td>1-33</td>
            <td>33</td>
            <td>Mitochondrion  </td>
            <td>UniProtKB</td>
          </tr>
          <tr>
            <td>Processing Transit peptide</td>
            <td>1-33</td>
            <td>33</td>
            <td>Mitochondrion  </td>
            <td>UniProtKB</td>
          </tr>
          <tr>
            <td>Processing Transit peptide</td>
            <td>1-33</td>
            <td>33</td>
            <td>Mitochondrion  </td>
            <td>UniProtKB</td>
          </tr>
          <tr>
            <td>Processing Transit peptide</td>
            <td>1-33</td>
            <td>33</td>
            <td>Mitochondrion  </td>
            <td>UniProtKB</td>
          </tr>
        </tbody>
      </table>

    </div><!-- /col -->

    <div class="span6 sidebar">

      <div class="info">
        <h3>TK2 Sequence</h3>
        <p>
          <span class="label warning">Isoform: <b>Long 256 aa</b></span>
          <span class="label warning">Mass: <b>31005 Da</b></span>
          <span class="label warning">pI: <b>8.71</b></span>
        </p>

        <div class="num">
          1
          <br>
          51
          <br>
          101
          <br>
          151
          <br>
          201
          <br>
          251
          <br>
        </div>
        <div class="sequence">
          MLLWPLRGWA ARALRCFGPG SRGSPASGPG PRRVQRRAWP PDKEQEKEKK
        <br>
          SVICVEGNIA SGKTTCLEFF SNATDVEVLT EPVSKWRNVR GHNPLGLMYH
        <br>
          DASRWGLTLQ TYVQLTMLDR HTRPQVSSVR LMERSIHSAR YIFVENLYRS
        <br>
          GKMPEVDYVV LSEWFDWILR NMDVSVDLIV YLRTNPETCY QRLKKRCREE
        <br>
          EKVIPLEYLE AIHHLHEEWL IKGSLFPMAA PVLVIEADHH MERMLELFEQ
        <br>
          NRDRILTPEN RKHCP
        <br>
        </div>
      </div>

    </div><!-- /col -->
  </div><!-- /row -->
</section>

}
