@(message: String, references: List[Reference], refmethods: List[Reference], taxsources: ArrayList[String], proteinsources: ArrayList[String] )
@import helper._


@main {
@for(r <- references) {
<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li><i class="icon-search" ></i><a href="/references"> Reference Search</a> <span class="divider">></span></li>
  <li class="active"><i class="icon-file" ></i> @r.authors, @r.year, @r.journal.name<span class="divider"></span></li>
</ul>
}
  <section id="layouts">

  <div class="row-fluid">
    <div class="span8">
      @for(r <- references) {
      <div class="page-header">
        <h1>Reference <span class="pull-right"><span class="label success">Curated Entry</span> <span class="label notice">GlycoSuiteDB</span></span></h1>
        <h4 class="subheader">@r.journal.name, @r.year, </h4>

      </div>

      <p><b>@r.title</b></p>
      <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/@r.pmid">PubMed Entry: @r.pmid</a></p>
      <div class="mini-layout">
        <div class="mini-layout-body"></div>
      </div>
      <div id="31" class="RP">
        @for(s <- r.streference) {
        <div class="fA a-l-k" style="margin-right: 16px">
          <div class="OR YP aQ"></div>                                                                           
          <div class="ZP">
            @*<img class="sugar_image"  src="../images/_@{s.structure.id}.png">*@
	    <img class="thumbnail" style="max-height: 300px; max-width: 300px";  src="../images/_@{s.structure.id}.png">
        </div></div>

        }
    </div></div><!-- /col -->
    } 
    <div class="span4 sidebar">
      @** Hello @{val name = t.biolsource.taxonomy; 
      if(name.size > 0){<p>here</p>}else{<p>mmm</p>}
      name}! **@

      <div class="info">
        <h3>Biological Associations</h3>
        @for(tax <- taxsources){
          <p><span class="label important">Taxonomy</span><a href="../taxonomysearch?taxonomy=@tax"> @tax</a></p> 
        }
        @for(protein <- proteinsources){
          <p><span class="label warning">Protein</span> @protein</p> 
        }
      </div>

      <div class="info">
        <h3>Validation Method</h3>
        @for(methods <- refmethods) {
        @for(rmethod <- methods.refmethod) { <p>@rmethod.method.description</p>
        }
        }
        <div class="mini-layout fluid">
          <div class="mini-layout-sidebar"></div>
          <div class="mini-layout-body"></div>
        </div>
      </div>
    </div><!-- /col -->
  </div><!-- /row -->
  </section>


  <div class="footer row-fluid">
    <div class="span12">
      <p class="pull-left">UniCarbKB</p>
      <p class="pull-right">Supported by 
        <a href="http://www.nectar.org.au">NeCTAR</a> &nbsp;|&nbsp; 
        <a href="http://www.ands.org.au">ANDS</a> &nbsp;|&nbsp;
        <a href="http://www.stint.se"> STINT</a>
      </p>
    </div>
  </div>

}
