@(result: List[Translation], structure: List[Structure], taxonomy: ArrayList[String], structureObject: Structure)
@import helper._


@main{

      <ul class="breadcrumb">
        <li><i class="icon-folder-open" ></i><a href="#"> UniCarbKB Database</a> <span class="divider">></span></li>
        <li><i class="icon-hdd" ></i><a href="#"> GlycoSuite</a> <span class="divider">></span></li>
        <li><i class="icon-list-alt" ></i><a href="../references"> Reference</a> <span class="divider">></span></li>
        <li class="active">You are here</li>
      </ul>

    <section id="layouts" class="browse">
      <h1>Search UniCarbKB</h1>
      <h4 class="subheader">Currently returning results from GlycosuiteDB, EuroCarb, and GlycoBase</h4>
      <div class="row-fluid">
        <div class="span12">
         </div>
      </div>
      <div class="row-fluid">
        <div class="span3 filterbar tabbable">
          <ul class="nav nav-tabs" id="myTabBar">
            <li><a href="#filter1" data-toggle="tab">Glycosuite <span class="pull-right count"></span></a></li>
            <li class=""><a href="#filter2" data-toggle="tab">EuroCarb</a></li>
            <li><a href="#filter3" data-toggle="tab">GlycoBase</a></li>
          </ul>
        </div><!-- /col -->
        <div class="span9 rightpanelBuilder">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            @*<ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#tab1" data-toggle="tab">Search</a></li>
              <li><a href="#tab2" data-toggle="tab">Search Results</a></li>
              <li><a href="#tab3" data-toggle="tab">Related Results</a></li>
	      <li><a href="" data-toggle="tab">Glycan Builder</a></li>
            </ul>*@
            <div class="tab-content results">
              <div class="tab-pane active" id="tab1">
                <h2>@*<img src="../images/icon_search.png"> Search Features &amp; Results</h2>*@
		@for(result <- result){
		<img src="http://unicarb-db.biomedicine.gu.se/unicarbdb/get_sugar_image.action?download=true&scale=1.0&outputType=png&inputType=gws&tolerateUnknown=1&sequences=@{result.gws}" />
		}
		<div class="row-fluid">
		  <a class="btn" href="../search"><i class="icon-refresh"></i> Build Structure</a>
		</div>
		<div class="row-fluid">
		  <div class="span3">
                    <p class="publications"><a href="#">@structureObject.references.size() Publications</a></p>
                  </div>
		  <div class="span3">
                    <p class="biological"><a href="#">@structureObject.strtaxonomy.size() Biological Content</a></p>
                  </div>

		   <div class="span3">
                    <p class="structures"><a href="#">@structureObject.stsource.size() Protein</a></p>
                  </div>
		  <div class="span3">
		  </div>

                </div>

    <div class="row-fluid">
      <h3><a href="#">Publications</a><span class="pull-right"></span></h3>
      <div class="details span9">
        @for(stref <- structure){
          @for( (reference,i) <- stref.references.zipWithIndex; if (i <=3)){
            <p><a href="../references/@reference.reference.id">@reference.reference.title</a>, @reference.reference.year, @reference.reference.authors</p>
          }
        }
      </div>
    </div>

		<div class="row-fluid">
                  <h3><a href="#">Biological Associations</a><span class="pull-right"></span></h3>
                  <div class="details span9" style="font-size: 14px; font-weight: normal; line-height: 22px; margin-bottom: 9px;">
		    @for( (tax,j) <- taxonomy.zipWithIndex; if (j <=3)){
			<a href="" style="font-size: 14px; font-weight: normal; line-height: 22px; margin-bottom: 9px; color: #4B5C66;">@tax, </a> 
		    }
                  </div>
		</div>

                </div>


              </div>
            </div>
          </div>
        </div><!-- /col -->
      </div><!-- /row -->
    </section>

<script>
        $(function () {
        var test = 'second'; @* target this during page reload *@
        $('#myTabBar a:' + test).tab('show');
        })
</script>


}

