@(message: String, speciesDetails: List[String], jsSpecies: String)

@main {

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
			<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
			<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
			<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>
@**<script>
var species = new String(@jsSpecies);
var msg = species.replace("replacethis", "lalal");
alert('after\n' + msg);
document.write(msg);
</script>
**@
<script>
	$(function() {
		var availableTags = [
"ActionScript",
			"AppleScript",
			"Asp",
			"COBOL",
			"ColdFusion",
			"Erlang",
			"Fortran",
			"Groovy",
			"Haskell",
			"Java",
			"JavaScript",
			"Lisp",
			"Perl",
			"PHP",
			"Python",
			"Ruby",
			"Scala",
			"Scheme",
			"ActionScript",
                        "AppleScript",
                        "Asp",
                        "BASIC2",
                        "C",
                        "C++2",
                        "Clojure2",
                        "Fortran2",
                        "Groovy2",
                        "Haskell2",
                        "Java2",
                        "JavaScript2",
                        "Lisp2",
                        "Perl2",
                        "PHP2",
                        "Python2",
                        "Ruby2",
			"HOMO SAPIENS",
                        "Scala2",
]
		;
		$( "#tags" ).autocomplete({
			source: availableTags,
			select: function (event, ui) {
			var selectobj = ui.item;
			$("#hidCidade").val(ui.item.label);
			
			}
			
		});
	});
	</script>


	
<div class="demo">

	<form action="taxonomysearch/">
	<label for="tags">Tags: </label>
	<input id="tags" class="ui-widget" name="tags">
	<input id="hidCidade" type="hidden" />
	<input type="submit" value="go" />
	</form>
    
 	<h1>hellow</h1> 
}
