@(references: List[Structure], structureId: Long, proteinNames: ArrayList[String], taxNames: ArrayList[String], sourceNames: ArrayList[String], test: List[Array[String]], uniprot: ArrayList[String], taxDiv: ArrayList[String])
@import helper._

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="">
        <a href="">@title</a>
    </th>
}

@main {

<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li class="active"><i class="icon-th" ></i> Structure<span class="divider"></span></li>
  <!--<li class="active" > You are here</li>-->
</ul>

<div class="modal hide fade" id="windowDescription">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Protein and Taxonomy Information <span class="label success">Curated Entry</span> <span class="label notice">GlycoSuiteDB</span></h3>
  </div>
  <div class="modal-body">
    <h2 class="fullname">This structure has been associated with various records:</h2>

    <div id="myDiv"><p></p></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary" onclick="okClicked ();">OK</a>
  </div>
</div>


<section id="structureLayout">
  <div class="page-header">
    <h1>Structure</h1>
    <h4 class="subheader">Details for structure</h4>
  </div>

  <div class="row-fluid">
    <div class="span8"><img class="sugar_image"  src="../images/_@{structureId}.png"></div>
    <div class="span4 sidebar">
      <div class='info'>
        <h3>Available Descriptions:</h4>
        <p>
          <span class='label important'>Taxonomy:</span><a href="" style="color: #1F7099;" data-toggle="modal" data-id='@taxDiv' class="announce2" data-id2='100'><i class="icon-search"></i> Taxonomy</a>
        </p>
        <p>
          <span class='label warning'>Protein:</span><a style="color: #1F7099;" data-toggle="modal" data-id="@proteinNames" class="announce"><i class="icon-th-list"></i> Protein</a>
        </p>
        <p>
          <span class='label inverse'>Source:</span><a style="color: #1F7099;" data-toggle="modal" data-id="@sourceNames" class="announce" ><i class="icon-th-list"></i> Source</a>
        </p>
      </div>
    </div>
  </div>
</section>	

<section id="layouts">	
  <div class="row-fluid">

    <h3>References associated to structure</h3>
    <table class="computers zebra-striped">
      <thead>
        <tr>
          @header("title", "Title")
          @header("year", "Year")
          @header("authors", "Authors")
        </tr>
      </thead>
      <tbody>
        @for(stref <- references){
          @for(reference <- stref.references){
          <tr>
            <td><a href="../references/@reference.reference.id">@reference.reference.title</a></td>
            <td>@reference.reference.year</td>
            <td>@reference.reference.authors</td>
          </tr>
          }
        }
      </tbody>
    </table>
  </div>
</section>

<div class="footer row-fluid">
  <div class="span12">
    <p class="pull-left">UniCarbKB</p>
    <p class="pull-right">Supported by 
      <a href="http://www.nectar.org.au">NeCTAR</a> &nbsp;|&nbsp;
      <a href="http://www.ands.org.au">ANDS</a> &nbsp;|&nbsp;
      <a href="http://www.stint.se"> STINT</a> &nbsp;|&nbsp;
      <a href="http://expasy.org/"> SIB ExPASy</a>
    </p>
  </div>
</div>

}
