@(message: String, taxon: Taxonomy, biolsource: List[Biolsource], groupTax: List[SqlRow] )
@import helper._

@**********************************
* Helper generating table headers *
***********************************@

@header(key:String, title:String) = {
<th class="">
  <a href="">@title</a>
</th>
}

@main {

<div class="modal hide fade" id="taxDescription">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Taxonomy Structures</h3>
  </div>
  <div class="modal-body">
    <ul class="thumbnails">
      @for(s <- taxon.strtaxonomy ){

      <li class="span4">
        <a href="@routes.Application.structureDetails(s.structure.id)" class="thumbnail">
          <img src="../images/_@{s.structure.id}.png" alt="">
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary" onclick="okClicked ();">OK</a>
  </div>

</div>	

<ul class="breadcrumb">
  <li><i class="icon-home" ></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
  <li><i class="icon-tags" ></i><a href="/references"> Taxonomy</a> <span class="divider">></span></li>
  <li><i class="icon-tag" ></i> @taxon.species</li>
</ul>

<section id="layouts">

<div class="page-header row-fluid">
  <h1>@taxon.species</h1> 
  <h4 class="subheader span8">@message <span class="pull-right"><span class="label label-success">Curated Entry</span> <span class="label">GlycoSuiteDB</span></span></h4>
</div>

<div class="row-fluid">
  <div class="span8">

    <p>The GlycoSuite database is an annotated and curated relational database of glycan structures. For the taxonomy entry <b>@taxon.species</b> a number of glycan structures, glycoproteins and tissue source's have been curated.</p>

    @* <p><a href=""  data-toggle="modal" data-id='@taxon' class="announceTaxStructures"><i class="icon-resize-full"></i> See more structures</a> <small>limited to six records below</small></p> *@

    <ul class="structures clearfix">
      @for((s, i) <- taxon.strtaxonomy.zipWithIndex; if (i <=5) ){
        <li class="span5">
          <a href="@routes.Application.structureDetails(s.structure.id)">
            <img src="../images/_@{s.structure.id}.png" alt="">
          </a>
        </li>
      }
    </ul>
    <ul id='more-thumbnails' class='structures clearfix'>
      @for(s <- taxon.strtaxonomy ){
        <li class="span5">
          <a href="@routes.Application.structureDetails(s.structure.id)">
            <img src="../images/_@{s.structure.id}.png" alt="">
          </a>
        </li>
      }
    </ul>
    <div id='show-structures' class='more-structures' href='#'>
      See more structures
      <br />
      <span>&#9679; &#9679; &#9679;</span>
    </div>
  </div>

  <div class="span4 sidebar">
    <div class="info">
      <h3>Glycan Structures</h3>
      <p>
        <span id='more-structures' class='label label-notice'>
          <i class="icon-th icon-white"></i> Structures <b>(@taxon.strtaxonomy.size())</b>
        </span>
      </p>

    </div>

    <div class="info">
      <h3>Glycoproteins</h3>
      <p><i class="icon-chevron-right"></i><b>@groupTax.size() </b> glycoproteins curated</p>
      @for( (sql,i) <- groupTax.zipWithIndex; if (i <= 6)) {
      <p class="short"><a href='/proteinsummary/@sql("swiss_prot")'>@sql("protein") (@sql("swiss_prot"))</a></p>
      }

      <div class='more'>
      </div>

    </div>

  </div>
</div>

<div class="footer row-fluid">
  <div class="span12">
    <p class="pull-left">UniCarbKB</p>
    <p class="pull-right">
      Supported by 
      <a href="http://www.nectar.org.au">NeCTAR </a> |
      <a href="http://www.ands.org.au">ANDS </a> | 
      <a href="http://www.stint.se">STINT </a> | 
      <a href="http://expasy.org/">SIB ExPASy </a>
    </p>
  </div>
</div>

</section>


     @* <script type="text/javascript">
       $(document).ready(new function() {
         // Prepare layout options.
         var options = {
           autoResize: true, // This will auto-update the layout when the browser window is resized.
           container: $('#myContent'), // Optional, used for some extra CSS styling
           offset: 2, // Optional, the distance between grid items
           itemWidth: 210 // Optional, the width of a grid item
         };

         // Get a reference to your grid items.
         var handler = $('#myContent li');

         // Call the layout function.
         handler.wookmark(options);

         // Capture clicks on grid items.
         handler.click(function(){
           // Randomize the height of the clicked item.
           var newHeight = $('img', this).height() + Math.round(Math.random()*300+30);
           $(this).css('height', newHeight+'px');

           // Update the layout.
           handler.wookmark();
         });
       });
       </script> *@


}
