@(numberCss: Integer, numberNaCss: Integer, comp: List[models.glycomobcomposition.Glycomobcomposition], sodiatedcomp: List[models.glycomobcomposition.SodiatedGlycomobComposition], proteinList: List[models.glycomobcomposition.GlycoproteinStandard], kbComp: String)


@main{

<script src="http://wenzhixin.net.cn/p/bootstrap-table/src/extensions/filter/bootstrap-table-filter.js"></script>

<ul class="breadcrumb">
    <li><i class="icon-home"></i><a href="/"> UniCarbKB</a> <span class="divider">></span></li>
    <li class="active"><i class="icon-th"></i> GlycoMob<span class="divider"></span></li>
</ul>

<section id="structureLayout">
    <section id="layouts">

        <div class="page-header row-fluid">
            <h1>CSS Values - Composition Search</h1>
        </div>

        <div class="row-fluid">
            <div class="span8">
                <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter" />
                OR <a href="@kbComp"><span class="label label-light">Query UniCarbKB Compositions</span></a>

                <ul class="nav nav-tabs" id="product-table">
                    <li class="active"><a href="#1" data-toggle="tab">Matching Structures (@numberCss)</a>
                    </li>
                    <li><a href="#2" data-toggle="tab">Sodiated Structures (@numberNaCss)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">

                        <h3>Matching Structures</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <thead>
                            <tr>
                                <th>CSS</th>
                                <th>Mass (m/z)</th>
                                <th>Ion</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(negative <-  comp){
                            <tr>
                            @for(n <- negative.cssDataGenerals) {
                                <td>@n.css</td>
                                <td>@n.glycomobcompositionList.mass</td>
                                <td>@n.ion</td>
                                <td>@n.glycomobcompositionList.hex</td>
                                <td>@n.glycomobcompositionList.hexnac</td>
                                <td>@n.glycomobcompositionList.dhex</td>
                                <td>@n.glycomobcompositionList.neunac</td>
                                <td>@n.glycomobcompositionList.mi</td>
                            </tr>
                            } }
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane" id="2">
                        <h3>Sodiated Structures</h3>
                        <table class="table table-condensed table-bordered table-striped volumes order-table">
                            <thead>
                            <tr>
                                <th>CSS</th>
                                <th>Mass (m/z)</th>
                                <th>Charge</th>
                                <th>Hex</th>
                                <th>HexNAc</th>
                                <th>dHex</th>
                                <th>NeuNAc</th>
                                <th>Multiple Isomers</th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(negativeN <-  sodiatedcomp){
                            <tr>
                            @for(s <- negativeN.cssDatas) {
                                <td>@s.css</td>
                                <td>@s.sodiatedGlycomobCompositionList.massCharge</td>
                                <td>@s.sodiatedGlycomobCompositionList.charge</td>
                                <td>@s.sodiatedGlycomobCompositionList.hex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.hexnac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.dhex.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.neunac.replace("0", "")</td>
                                <td>@s.sodiatedGlycomobCompositionList.mi</td>
                            </tr>
                            }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class='info'>
                    <h3>Ion Mobility</h3>

                    <div class='taxonomy'>
                        <span class='label label-success'>High-Mannose Structures</span>
                        <a id='toggle-taxonomy'><span class='label label-important'><span class='icon-tags icon-white'></span> Glycoprotein Standards  <span class="caret"></span></span></a>

                        <span class='label label-warning'>Dextran Ladder</span>
                    </div>
                    <div>
                        <ul id='more-taxonomy'>
                            <h3 id='less-taxonomy'><span class='icon-tags icon-white'></span> Glycoproteins</h3>
                            @for(p <- proteinList) {
                            @if(!p.name.equals("Dextran")) {
                            <li><span class='icon-tag icon-white'></span> <a href='/ionmobCompleteProtein/@p.id'>@p.name</a></li>
                            }
                            }
                        </ul>
                    </div>
                </div>


                <div class="info">
                    <h3>Method Summary</h3>
                    <p style="text-align: justify">Measurements of absolute CCS values were performed using a Synapt G1 HDMS quadrupole/IMS/oa-ToF instrument (Waters Co., Manchester, U.K.) modified for drift tube operation (<a href="http://pubs.acs.org/doi/abs/10.1021/ac1022953">Bush, et al., 2010</a>).
                        Briefly, N-linked glycans were released with hydrazine from the well-characterized glycoproteins ribonuclease B, porcine thyroglobulin, chicken ovalbumin, and bovine fetuin
                        obtained from Sigma Chemical Co., Ltd. (Poole, Dorset, U.K.) and reacetylated. Sialic acids were removed from the thyroglobulin and fetuin samples by heating with 1% acetic acid for 1 h at 70 °C.
                        For electrospray analysis, samples were dissolved in water:methanol (1:1, v:v) at ∼1 mg/mL. More information refer to the supplementary section <a href="http://pubs.acs.org/doi/abs/10.1021/ac400403d">Pagel K and Harvey DJ, Analytical Chemistry 2013</a>.</p>
                </div>

                <div class="info">
                    <h3>GlycoMob Composition Search</h3>
                    <form class="form-ionmob">
                        <div class="control-group ionmobcomp">
                            <label class="labelionmob ionmobcomp">Hex</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="hex" value="0">
                        </div>
                        <div class="control-group ionmobcomp ionmobcomp-align">
                            <label class="labelionmob ionmobcomp">HexNAc</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="hexnac" value="0">
                        </div>
                        <div class="control-group ionmobcomp ionmobcomp-align">
                            <label class="labelionmob ionmobcomp">dHex</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="dhex" value="0">
                        </div>
                        <div class="control-group ionmobcomp ionmobcomp-align">
                            <label class="labelionmob ionmobcomp">NeuNAc</label>
                            <input id="ionmobcomp" type="text" class="input-block-level" name="neunac" value="0">
                        </div>
                        <label class="labelionmob ionmobcomp" style="width:100%; text-align:left"><span>By default only native structures will be search - tick box otherwise</span><input type="checkbox" class="checkbox"  name="native"/> </label>
                        <div class="form-footer">
                            <button class="btn btn-primary btn-large btn-block" type="submit">Submit Query</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</section>

<script>
    (function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);

</script>

}